@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(--primary-color);
    width: 72px;
    height: 72px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
}